<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title></title>
 </head>
 <body>
   <h1>
     Data
   </h1>
   <form action="/" method="post">

 <label for="name">Company Name<label>
 <input type="text" id="name" name="name"><br><br>
 <label for="quantity">Quantity<label>
 <input type="text" id="quantity" name="quantity"><br><br>
 <label for="price">Buying Price<label>
 <input type="text" id="price" name="price"><br><br>

 <input type="submit" value="Submit">
</form>

 </body>
</html>